<!-- Start of container -->
<main class="container">
  <section class="row">
    <div class="col-md-8">
      <article class="block">
        <h1 class="block-header">About Me</h1>
        <hr />
        <img src="/assets/imgs/CarsonMogk.JPG" alt="Picture of Carson Mogk" id="about-image" />
        <p>
          I am an Eagle Scout, a programmer, an instructor, and a hobby writer. 
          Because thinking clearly is a cove value to me, I aim to be clear and concise at all times.
          Discovering a concise wording forces well-formed thoughts.
          This focus on clear communication improves my abilities as an instructor and a programmer.
        </p>
        <p>
          My joy in finding repeatable, reusable solutions makes back-end development very appealing to me.
          I completed a Programming Bootcamp from UCSD to turn my college-level C++ and Java classes into a multi-language web toolset.
          Doing Quality Assurance Engineering at HCS, I automated laborious tasks in addition to implementing a testing framework.
          Automating monotonous tasks, such as quality assurance, is vital to prevent mistakes from impacting clients.
        </p>
      </article>
    </div>
  </section>
</main>