<!-- Start of container -->
<main class="container">
  <section class="row">
    <div class="col-md-8">
      <article class="block">
        <h1 class="block-header">About Me</h1>
        <hr />
        <img src="/assets/imgs/CarsonMogk.JPG" alt="Picture of Carson Mogk" id="about-image" />
        <p>
          I am an Eagle Scout and a back-end web developer who enjoys figuring out repeatable, re-usable solutions.
          I care about creating clear, concise summaries that capture a process or goal.
          My work ethics drive me to make my code easily readable and expandable,
          and my natural curiosity always pushes me to learn new skills and resources,
          most recently HTML, CSS, and Bootstrap. I am now completing a Programming Bootcamp from UCSD to
          turn my college-level Java classes into a multi-language web toolset.
        </p>
      </article>
    </div>
  </section>
</main>